/**
 * Styles for the "Classic" shop skin
 */

.nails-skin-shop-classic
{
	&.browse
	{
		//	Sidebars
		.sidebar-home,
		.sidebar-filter
		{
			ul.rsaquo-list
			{
				li:before
				{
					content: '›';
					padding-right:0.5em;
					color:#CCC;
				}
			}
		}

		.sidebar-home
		{
		}

		.sidebar-filter
		{
			.category-nav
			{
				li
				{
					//	Set up a loop for generating the levels
					.loop(@counter) when (@counter > 0)
					{
						// next iteration
						.loop( (@counter - 1));

						&.level-@{counter}
						{
							padding-left: (15px * @counter);
						}
					}

					//	Start the loop, param is the number of iterations
					.loop(15);
				}
			}

			.filters
			{
				p.filter-heading
				{
					margin-bottom:0.5em;
				}

				ul.filter-list
				{
					margin-bottom:1em;
					border:1px solid #CCC;
					max-height:100px;
					overflow-y:auto;

					label
					{
						font-weight: normal;
						cursor:pointer;
						display:block;
						padding:0em 0.5em;

						input
						{
							margin-right:0.25em;
						}
					}

					li
					{
						&:nth-child(odd)
						{
							label
							{
								background:#FAFAFA;
								padding-bottom:0.25em;
							}
						}

						&:first-child
						{
							label
							{
								padding-top:0.25em;
							}
						}

						&:last-child
						{
							label
							{
								padding-bottom:0.25em;
							}
						}
					}

					&:last-of-type
					{
						margin-bottom: 0;
					}
				}
			}
		}

		// --------------------------------------------------------------------------

		//	Breadcrumbs
		.breadcrumb
		{
			.crumb
			{
				&.home
				{
					span
					{
						padding-right:0.5em;
					}
				}
			}
		}

		// --------------------------------------------------------------------------

		//	Covers
		.cover
		{
			.background
			{
				margin-bottom:1em;
				padding-bottom:0;
				padding-top:4em;
				background:#FAFAFA;
				background-image:url( ../img/cover-default.png );
				background-position: center;

				.overlay
				{
					background:rgba(255, 255, 255, 0.9);
					display:inline-block;
					padding: 1.5em;
					padding-right:2.5em;

					h2
					{
						margin:0;
					}

					p
					{
						&:last-of-type
						{
							margin-bottom:100px;
						}
					}
				}
			}

			.description
			{
				margin:2em 0em;
			}
		}

		// --------------------------------------------------------------------------

		//	Shop homepage
		&.index
		{

		}

		// --------------------------------------------------------------------------

		//	Products grid
		.product-browser
		{
			.product-sort
			{
				position:relative;

				.mask
				{
					display:none;
					background:rgba(255, 255, 255, 0.75);
					color:rgba(0, 0, 0, 0.5);
					position:absolute;
					top:0;
					left:0;
					bottom:0;
					right:0;
					text-align:center;
					font-size:1.5em;
					line-height:48px;
				}

				&.submitting
				{
					.mask
					{
						display:block;
					}
				}
			}


			.product-image
			{
				margin-bottom: 0.75em;
			}
		}

		// --------------------------------------------------------------------------

		//	Brand listing pages
		&.brand
		{
			//	Single brand pages
			&.single
			{

			}
		}

		// --------------------------------------------------------------------------

		//	Category listing pages
		&.category
		{


			//	Single category pages
			&.single
			{

			}
		}

		// --------------------------------------------------------------------------

		//	Collection listing pages
		&.collection
		{
			//	Single collection pages
			&.single
			{

			}
		}

		// --------------------------------------------------------------------------

		//	Range listing pages
		&.range
		{
			//	Single range pages
			&.single
			{

			}
		}

		// --------------------------------------------------------------------------

		//	Sale listing pages
		&.sale
		{
			//	Single sale pages
			&.single
			{

			}
		}

		// --------------------------------------------------------------------------

		//	Tag listing pages
		&.tag
		{
			//	Single tag pages
			&.single
			{

			}
		}

		// --------------------------------------------------------------------------

		//	Product listing pages
		&.product
		{
			//	Single product pages
			&.single
			{
				h3
				{
					margin-top:0;
				}

				.featured-image-xs-md,
				.featured-image-md-lg
				{
					margin-bottom:1.5em
				}

				.featured-image-xs-sm
				{
					position:relative;

					.gallery-scroll
					{
						position: absolute;
						overflow: auto;
						top:0;
						bottom:0;
						right:0;
						width:25%;

						.gallery-item
						{
							margin-bottom:0.5em;
						}
					}
				}

				.featured-image-md-lg
				{
					.featured-img-link
					{
						display:block;

						.zoomImg
						{
							cursor:zoom-in;
						}
					}
				}

				.gallery-md-lg
				{
					.gallery-item
					{
						margin-bottom: 1em;
					}
				}

				.table-variants
				{
					margin-bottom:0;

					tbody
					{
						tr
						{
							td
							{
								vertical-align: middle;

								p
								{
									margin-bottom:0.25em;
								}

								p:last-of-type
								{
									margin-bottom:0;
								}

								.btn-remove
								{
									margin-right:0.5em;
								}
							}
						}
					}
				}
			}
		}
	}

	// --------------------------------------------------------------------------

	&.basket
	{
		.basket-item
		{
			td
			{
				.alert
				{
					margin-bottom:0;
					margin-top:0.5em;
					padding:7px 15px;
				}
			}
		}
	}

	// --------------------------------------------------------------------------

	&.checkout
	{
		.cta
		{
			text-align: right;
			margin-top: 23px;
		}

		.progress
		{
			margin: 30px 0;
		}

		.billing-address
		{
			display: none;
		}

		.terms
		{
			margin: 11px 0 0 0;
		}
	}
}